html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    max-width: 900px;
    margin: auto;
    padding: 16px;
    background-color: #e8e6e0;
}

p {
    text-align: justify;
}

a {
    text-decoration: underline;
    color: #ba0c2f;
    cursor: pointer;
}

a:visited {
    color: #b7a99a;
}

li a {
    display: block;
}

ul {
    padding-left: 0;
    list-style: none;
}

ul::after {
    content: "";
    display: block;
    clear: both;
}

ul li {
    float: left;
    width: calc(100% / 3 - 16px);
    text-align: center;
    margin: 16px 8px;
    border: 2px solid transparent;
    background: repeating-linear-gradient(-45deg, #e8e6e0, #e8e6e0 5px, rgba(255, 255, 255, 0.5) 5px, rgba(255, 255, 255, 0.5) 10px);
    font-size: 40px;
    line-height: 64px;
}

ul li:first-child {
    margin-left: 0;
    margin-right: 16px;
}

ul li:last-child {
    margin-right: 0;
    margin-left: 16px;
}

ul li:hover, ul li.active {
    background: none;
    border: 2px dashed #ba0c2f;
}
