<div id="replace-container">
	<h1>In turpis. Duis vel nibh at velit scelerisque suscipit.</h1>
	<i>Reloaded content (About.html) via ajax.</i>
	<p>Praesent ac sem eget est egestas volutpat. Nulla sit amet est. Morbi vestibulum volutpat enim.</p>
	<br />
	<p>
		Vestibulum dapibus nunc ac augue. Phasellus tempus. Ut tincidunt tincidunt erat. Quisque rutrum. Ut id nisl quis
		enim dignissim sagittis. Etiam ut purus mattis mauris sodales aliquam. Nam at tortor in tellus interdum sagittis.
		Phasellus magna. Praesent turpis.</p>
	<br />
	<img src="Resources/Public/Images/sample2.jpg" alt="sample2.jpg" title="Sample 2" />
</div>