<div id="replace-container">
	<h1>Maecenas egestas arcu quis ligula mattis placerat.</h1>
	<i>Reloaded content (Home.html) via ajax.</i>
	<p>Suspendisse potenti. Nulla porta dolor. Fusce ac felis sit amet ligula pharetra condimentum.</p>
	<br />
	<p>
		In ut quam vitae odio lacinia tincidunt. Aenean ut eros et nisl sagittis vestibulum. Pellentesque habitant morbi
		tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Etiam sit amet orci eget
		eros faucibus tincidunt. Suspendisse non nisl sit amet velit hendrerit rutrum. Donec orci lectus, aliquam ut,
		faucibus non, euismod id, nulla. Vestibulum ullamcorper mauris at ligula. Curabitur ligula sapien, tincidunt non,
		euismod vitae, posuere imperdiet, leo. Etiam imperdiet imperdiet orci. Donec elit libero, sodales nec, volutpat
		a, suscipit non, turpis. Curabitur a felis in nunc fringilla tristique. Fusce pharetra convallis urna. Morbi
		vestibulum volutpat enim. Vivamus aliquet elit ac nisl.
	</p>
	<br />
	<img src="Resources/Public/Images/sample1.jpg" alt="sample1.jpg" title="Sample 1" />
</div>