<div id="replace-container">
	<h1>Praesent congue erat at.</h1>
	<i>Reloaded content (Staff.html) via ajax.</i>
	<p>Curabitur vestibulum aliquam leo. Fusce pharetra convallis urna. Morbi ac felis.</p>
	<br />
	<p>
		Suspendisse enim turpis, dictum sed, iaculis a, condimentum nec, nisi. Phasellus volutpat, metus eget egestas
		mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Nullam sagittis. In hac habitasse platea
		dictumst. Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in
		dolor.
	</p>
	<br />
	<img src="Resources/Public/Images/sample3.jpg" alt="sample3.jpg" title="Sample 3" />
</div>